<div>
  <h3>Edit event</h3>
</div>
<div>
  <form action="/events/<%= @event.id %>" method="post">
    <p>
      <label for="sport">Sport: </label><br>
      <select name="sport_id" id="sport">
        <% @sports.each do |sport| %>
          <option value="<%= sport.id %>" <%= "selected" if @event.sport.id == sport.id %>><%= @event.sport.name %>
          </option>
        <% end %>    
      </select>
    </p>
    <p>
      <label for="name">Event name: </label><br>
      <input type="text" name="name" id="name" value="<%= @event.name %>"><br>
    </p>
    <p>
      <input type="hidden" name="_method" value="put">
      <input type="submit" value="Save">
    </p>
  </form>
</div>