<h3>
  <%= @event.sport.name %>: <%= @event.name %> 
</h3>
<div>
  <% entries = @event.entries %>
  <% raw_results = entries.map { |entry| entry.result } %>
  <% if raw_results.uniq.length == 1 %>
  <h4>Entries</h4>
    <p>
      <% entries.each do |entry| %>
        <table class="resultstable">
          <tbody>
            <tr>
              <td><%= entry.competitor.name %></td>
              <td><%= entry.competitor.country %></td>
              <td><a href="/entries/<%= entry.id %>/edit">Edit/add result</a></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </p>
  <% else %>
  <h4>Results</h4>
    <% results = entries.sort_by { |entry| entry.result } %>
    <% results.each do |result| %>
      <table class="resultstable">
        <tbody>
          <tr>
            <td><%= result.result %></td>
            <td><%= result.competitor.name %></td>
            <td><%= result.competitor.country.name %></td>
            <td><a href="/entries/<%= result.id %>/edit">Edit</a></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>