<header>
  <h3>Add competitor</h3>
</header>
<div class="top-button">
  <form action="/competitors" method="post">
    <p>
      <label for="country">Country: </label>
      <select name="country_id" id="country">
        <% @countries.each do |country| %>
          <option value="<%= country.id %>" <%= "selected" if @country.id == country.id %>><%= country.name %></option>
        <% end %>
      </select>
    </p>
    <p>
      <label for="sport">Sport: </label>
      <select name="sport_id" id="sport">
        <% @sports.each do |sport| %>
          <option value="<%= sport.id %>"><%= sport.name %></option>
        <% end %>
      </select>
    </p>
    <p>
      <label for="name">Competitor name: </label>
      <input type="text" name="name" id="name">
    </p>
    <p>
      <input type="submit" value="Add">
    </p>
  </form>
</div>