<div>
  <h2>Competitors</h2>
</div>
<div>
  <p>
    <form action="/competitors/new" method="get">
      <input type="submit" value="Add competitor">
    </form>
    <hr>
  </p>
</div>
<div>
  <p>
    <% @competitors.each do |competitor| %>
      <b>Name: </b><a href="/competitors/<%= competitor.id %>"><%= competitor.name %></a><br>
      <b>Country: </b><%= competitor.country.name %><br>
      <b>Sport: </b><%= competitor.sport.name %><br>
  </p>
  <p>
      <a href="/competitors/<%= competitor.id %>/edit">Edit competitor</a>
  </p>
      <hr>
    <% end %>
</div>