<div>
  <h3> <%= @competitor.name %> </h3>
  <a href="/countries/<%= @competitor.country.id %>"><h4> <%= @competitor.country.name %> </h4></a>
  Events | Results
</div>
<div>
  <p><a href="/competitors/<%= @competitor.id %>/edit">Edit</a></p>
  <p><form action="/competitors/<%= @competitor.id %>" method="post">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="delete">
  </form></p>
</div>