<div>
  <h3>Edit participant</h3>
</div>
<div>
  <form action="/participants/<%= @participant.id %>" method="post">
    
    <p>
    <label for="country">Country: </label>
    <select name="country_id" id="country">
      <% @countries.each do |country| %>
        <option value="<%= country.id %>" <%= "selected" if @participant.country_id == country.id %>><%= country.name %></option>
      <% end %>
    </select>
    </p>

    <p>
    <label for="name">Participant name: </label>
    <input type="text" name="name" id="name" value="<%= @participant.name %>">
    </p>

    <p>
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Save">
    </p>

  </form>
</div>