<div>
  <h1>PyeongChang 2018</h1>
</div>
<div>
  <h2>Medal table</h2>
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Gold</th>
        <th scope="col">Silver</th>
        <th scope="col">Bronze</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% ranking = Country.rank_all %>
      <% ranking.each do |country, rank| %>
      <tr>
        <td><%= rank %></td>
        <td><%= country.name %></td>
        <td><%= country.number_of_golds %></td>
        <td><%= country.number_of_silvers %></td>
        <td><%= country.number_of_bronzes %></td>
        <td><%= country.total_number_of_medals %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Totals</td>
        <td><%= Result.number_of_golds %></td>
        <td><%= Result.number_of_silvers %></td>
        <td><%= Result.number_of_bronzes %></td>
        <td><%= Result.total_number_of_medals %></td>
      </tr>
    </tfoot>
  </table>
</div>