<header>
  <h2>Medal table</h2>
</header>
<div class="top-button">
<div class="medaltable">
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Gold</th>
        <th scope="col">Silver</th>
        <th scope="col">Bronze</th>
        <th scope="col">Total</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <% ranking = Country.rank_all %>
      <% ranking.each do |country, rank| %>
      <tr>
        <td><%= rank %></td>
        <td><a href="/countries/<%= country.id %>"> <%= country.name %></a></td>
        <td><%= country.number_of_golds %></td>
        <td><%= country.number_of_silvers %></td>
        <td><%= country.number_of_bronzes %></td>
        <td><%= country.total_number_of_medals %></td>
        <td><%= country.total_ranking_points %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Totals</td>
        <td><%= Entry.number_of_golds %></td>
        <td><%= Entry.number_of_silvers %></td>
        <td><%= Entry.number_of_bronzes %></td>
        <td><%= Entry.total_number_of_medals %></td>
        <td></td>
      </tr>
    </tfoot>
    <caption>
      Rankings are based on points - 5 for gold, 3 for silver, 1 for bronze - then on number of medals (so where two countries have the same number of points, the country with more medals overall is ranked higher)
    </caption>
  </table>
</div>
</div>