<header>
  <h3>
    <%= @sport.name %> Events
  </h3>
</header>
<div class="top-button">
  <p>
    <form action="/events/new" method="get">
      <input type="submit" value="Add event">
    </form>
  </p>
</div>
<div class="flex-container wrap">
  <% events = @sport.events %>
  <% events.each do |event| %>
    <div class="flex-item">
      <h3>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
      </h3>
      <p>
        <button>
          <a href="/events/<%= event.id %>/edit">Edit event</a>
        </button>
      </p>
      <p>
        <form action="/events/<%= event.id %>" method="post">
          <input type="submit" value="Delete event">
          <input type="hidden" name="_method" value="delete">
        </form>
      </p>
    </div>
  <% end %>
</div>