<h3>
  <%= @sport.name %>
</h3>
<h3>
  Events
</h3>
<div>
  <p>
    <form action="/events/new" method="get">
      <input type="submit" value="Add event">
    </form>
    <hr>
  </p>
</div>
<div>
  <p>
    <% events = @sport.events %>
    <% events.each do |event| %>
      <h3>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
      </h3>
      <p>
        <a href="/events/<%= event.id %>/edit">Edit event</a>
      </p>
      <p>
        <form action="/events/<%= event.id %>" method="post">
          <input type="submit" value="Delete event">
          <input type="hidden" name="_method" value="delete">
        </form>
      </p>
      <hr>
    <% end %>
</div>