<div>
  <h3>  <%= @result.event.sport %>: <%= @result.event.name %> </h3>
  <h4>  <% case @result.result
        when 1 %>
          Gold medallist
        <% when 2 %>
          Silver medallist
        <% when 3 %>
          Bronze medallist
        <% else %>
          Final position <%= @result.result %>
        <% end %>
  </h4>
</div>
<div>
  <a href="/participants/<%= @result.participant.id %>">
  <%= @result.participant.name %><br>
  <%= @result.participant.country.name %>
  </a>
</div>
<div>
  <p><a href="/results/<%= @result.id %>/edit">Edit</a></p>
  <p><form action="/results/<%= @result.id %>" method="post">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="delete">
  </form></p>
</div>