<h3>
  <%= @country.name %>: competitors
</h3>
<div>
  <p>
    <form action="/competitors/new" method="get">
      <input type="submit" value="Add competitor">
    </form>
    <hr>
  </p>
</div>
<div>
  <p>
    <% competitors = @country.competitors.sort_by { |competitor| competitor.sport.name } %>
    <% competitors.each do |competitor| %>
      <b>Competitor: </b><%= competitor.name %><br>
      <b>Sport: </b><%= competitor.sport.name %><br>
      <b>Events: </b>
        <% competitor.entries.each do |entry| %>
        <%= entry.event.name %><br>
          <% if entry.result != 0 %>
            <b>Result (final position): </b><%= entry.result %><br>
          <% else %>
            <a href="/entries/<%= entry.id %>/edit">Edit entry</a><br>
            <form action="/entries/<%= entry.id %>" method="post">
                <input type="submit" value="Delete">
                <input type="hidden" name="_method" value="delete">
              </form>
          <% end %>
        <% end %>
  </p>
      <p>
        <a href="/entries/new">Add entry</a>
      </p>
      <p>
        <a href="/competitors/<%= competitor.id %>/edit">Edit competitor record</a>
      </p>
    <hr>
    <% end %>
</div>