<header>
  <h3><%= @country.name %>: Results</h3>
</header>
<div class="top-button">
  <p>
    <button>
      <a href="/countries/<%= @country.id %>/results_data">Get results data</a>
    </button>
  </p>
</div>
<div class="top-button">
  <p>
    <% results = @country.all_results_by_sport %>
    <% results.each do |result| %>
      <b>Event: </b><%= result.sport.name %>: <%= result.event.name %><br>
      <b>Competitor: </b><%= result.competitor.name %><br>
      <b>Final position: </b><%= result.result %><br>
      <hr>
    <% end %>
  </p>
</div>